@use '@/scss/colors' as *;
@use '@/scss/mixins' as *;

.search_box {
   display: flex;
   border-radius: 0.5rem;
   width: 100%;
   height: 2rem;

   @include breakpoint-up('medium') {
      grid-column: 1 / span 2;
   }

   @include breakpoint-up('large') {
      grid-column: 1;
   }

   > input {
      border: none;
      background-color: transparent;
      width: 100%;
      font-weight: 500;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      outline: none;
   }

   > input:focus {
      border: none;
      outline: none;
   }

   > button {
      height: 100%;
      width: 3rem;
      background-color: $blue-primary-color;
      border: none;
      border-radius: 0 0.5rem 0.5rem 0;

      i {
         color: $white-cream-color;
      }
   }

   > button:disabled {
      filter: opacity(0.8);
   }
}
