@use '@/scss/mixins' as *;

.pokemon_grid {
   width: 100%;
   display: grid;
   place-items: center;
   grid-template-columns: repeat(1, minmax(280px, 1fr));
   gap: 2.5rem;

   @include breakpoint-up('md') {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
   }

   @include breakpoint-up('lg') {
      grid-template-columns: repeat(3, minmax(280px, 1fr));
   }

   @include breakpoint-up('xl') {
      grid-template-columns: repeat(4, minmax(280px, 1fr));
   }
}

.no_results {
   font-size: 2rem;
   font-weight: 600;
   text-align: center;
}
