// common
$white-cream-color: #fdfdfd;
$blue-primary-color: #4c75b9;
$yellow-secondary-color: #ffcb05;
$gray-color: #e2e3e6;

// light theme
$light-body-bg-color: #f6f7fa;
$light-text-color: #1f2125;
$light-card-bg-color: #ffffff;
$light-search-input-color: #e2e3e6;

// dark theme
$dark-body-bg-color: #232830;
$dark-text-color: #f6f7fa;
$dark-card-bg-color: #2e343d;
$dark-search-input-color: #475369;
