@use '@/scss/colors' as *;

.light-body-bg {
   background-color: $light-body-bg-color;
}

.dark-body-bg {
   background-color: $dark-body-bg-color;
}

.light-font {
   color: $light-font-color;
}

.dark-body-bg {
   color: $dark-font-color;
}
